h1 {
    color: green;
    padding-left: 30px;
}

/* * {
    border: solid;
} */

.header *{
    border: solid;
    border-color: black;
}
.header{
    background-color: cadetblue;
    display: flex;
    justify-content: space-between;
}

.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.footer{
    display: flex;
    justify-content: flex-end;
}



p,h2{
    text-align: center;
}
body{
    background-color: #ecebdb;
    
}

